.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top:10px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  opacity:0.8;
  padding-bottom:18px;
}
h2{
  color:white;
  font-size:30px;
}
#year{
  color:white;
}
i {
  position:absolute;
  font-size: 24px !important;
  right:40px;
}